.block {
    width:100%;
}
.text-decoration-none {
    color: unset;
}
.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.game-intro-page .navbar-bg,
.game-page .navbar-bg {
    display: none;
}
.game-intro-page .page-content {
    flex-direction:column;
    padding-left: 10%;
    padding-right: 10%;
}
.game-page .page-content {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.game-page .page-content > * {
    width:100%;
}
.grid {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    width:100%;
    flex-wrap:wrap;
    max-width: 460px;
}
#look-and-arrange .cell {
    position:relative;
    padding:15px;
    font-size:2.25rem;
    margin:10px;
    height: 50px;
    width: 50px; 
    color:white;   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#flip-and-match .cell-wrapper {
    height: 80px;
    width: 80px; 
    margin: 4px;
}
#flip-and-match .cell {
    position:relative;
    height:100%;
    width:100%;
    font-size:2.25rem;

}
#flip-and-match .cell.closed .cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
}